[Unit]
Description=Carbonio Mail Threat Daemon
PartOf=carbonio-mta.target
After=carbonio-configd.service
Wants=carbonio-configd.service

[Service]
User=zextras
Environment=PERL5LIB="/opt/zextras/common/lib/perl5/x86_64-linux-gnu-thread-multi:/opt/zextras/common/lib/perl5/x86_64-linux-thread-multi:/opt/zextras/common/lib/perl5"
ExecStartPre=/bin/sh -c 'echo REWRITE amavis | netcat -w 120 localhost 7171; \
  echo REWRITE antispam | netcat -w 120 localhost 7171; \
  /opt/zextras/common/sbin/amavis-mc'
ExecStart=/opt/zextras/common/sbin/amavisd \
  -X no_conf_file_writable_check \
  -c /opt/zextras/conf/amavisd.conf foreground
ExecReload=/opt/zextras/common/sbin/amavisd \
  -X no_conf_file_writable_check \
  -c /opt/zextras/conf/amavisd.conf reload
RestartSec=3s
Restart=on-failure

# Hardening
PrivateTmp=yes
ProtectSystem=strict
ReadWritePaths=/opt/zextras/data/amavisd /run/carbonio
NoNewPrivileges=yes
PrivateDevices=yes
ProtectHome=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
RestrictRealtime=yes
RestrictNamespaces=yes
RestrictSUIDSGID=yes
LockPersonality=yes
ProtectHostname=yes
ProtectClock=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX AF_NETLINK

[Install]
WantedBy=carbonio-mta.target
