[Unit]
Description=Carbonio Policyd Daemon
After=carbonio-mailthreat.service carbonio-configd.service
Wants=carbonio-mailthreat.service carbonio-configd.service
PartOf=carbonio-mta.target

[Service]
User=zextras
ExecStartPre=/bin/sh -c 'if [ ! -f "/opt/zextras/data/cbpolicyd/db/cbpolicyd.sqlitedb" ]; then /opt/zextras/libexec/zmcbpolicydinit; fi'
ExecStartPre=/bin/sh -c 'echo REWRITE cbpolicyd | netcat -w 120 localhost 7171'
ExecStart=/opt/zextras/common/bin/cbpolicyd --config /opt/zextras/conf/cbpolicyd.conf -fg
LimitNOFILE=524288
Restart=on-failure
RestartSec=3s

# Hardening
PrivateTmp=yes
ProtectSystem=strict
ReadWritePaths=/opt/zextras/data/cbpolicyd
NoNewPrivileges=yes
PrivateDevices=yes
ProtectHome=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
RestrictRealtime=yes
RestrictNamespaces=yes
RestrictSUIDSGID=yes
LockPersonality=yes
ProtectHostname=yes
ProtectClock=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX

[Install]
WantedBy=carbonio-mta.target
